h1 {
    margin-bottom: -20px;
}

h3 {
    font-style: italic
}

h5 {
    margin-bottom: 0px;
    text-align: center;
    width:200px;
}

input {
    width:200px
}

.bodyStyle div{
    margin-bottom: -10px;
}

.headerStyle {
    font-family: sans-serif
}

.formStyle {
    margin-left: 28px;
}

.eqStyle p{
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
}

.eqStyle span {
    font-style: italic;
    padding: 5px;
}

.tsptStyle {
    color:dodgerblue;
    cursor: pointer;
}

.rStyle {
    color:orange;
    cursor: pointer;
}

.stStyle {
    color:rebeccapurple;
    cursor: pointer;
}

.timeLostStyle {
    color:red;
    cursor: pointer;
}

.timeSavedStyle {
    color:forestgreen;
    cursor: pointer;
}


.footerStyle {
    font-size: 12px;
    width:256px;
}


.smallInput {
    width:30px;
}

.hidden {
    display:none;
}

.selected {
    text-decoration: underline;
    text-shadow: -.5px 0px black;
}